.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-card {
  background-color: #36383e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  min-height: 400px;
  border-radius: 8px;
  padding: 20px;
}

.task-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}

.task-card h2 {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 18px;
  color: #ddddcd;
}

.task-card h3 {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 18px;
  color: #ddddcd;
  margin-bottom: 20px;
  font-style: italic;
}

.input-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  padding: 20px 0;
}

.task-input {
  box-shadow: inset #ddddcd 0 0 0 2px;
  border: 0px;
  background-color: #36383e;
  appearance: none;
  width: 90%;
  position: relative;
  border-radius: 8px;
  padding: 10px 12px;
  line-height: 1.4;
  color: #ddddcd;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.2s ease;
}

.task-input:hover {
  box-shadow: 0 0 0 0 #ffffff inset, #7af1a7 0 0 0 3px;
}

.input-form-container.invalid input {
  background-color: #e43f4d;
  box-shadow: inset #e43f4d 0 0 0 2px;
}

.action-form-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}